.cart-container {
  /* max-width: 1400px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 50px;
  /* margin: 0 auto; */
  justify-content: space-around;
  border-bottom: 1px solid #9f9f9f;
}

.cart-container__content {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  width: 100%;
}

.cart-items {
  display: flex;
  flex-direction: column;
  max-width: 817px;
  width: 100%;
  gap: 20px;
  padding: 0 10px;
}

.cart-item {
  display: flex;
  flex-direction: row;
}

.cart-item-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 573px;
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
}

.cart-item img {
  max-width: 111px;
  width: 100%;
  border-radius: 10px;
}

.cart-item-details p {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.remove-cart-item {
  background: transparent;
  border: none;
}

.cart-list__product {
  display: flex;
  max-width: 817px;
  width: 100%;
  justify-content: space-around;
  background-color: #f9f1e7;
  padding: 20px 0;
}

.cart-list__product li {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.cart-empty-message {
  font-weight: 400;
  font-size: 24px;
  color: #9f9f9f;
  margin: 0 auto;
}

.cart-summary {
  width: 100%;
  max-width: 393px;
  background-color: rgb(249, 241, 231);
  padding: 16px 40px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.cart-summary__title {
  font-size: 20px;
  font-weight: 600;
}

.cart-summary__row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-summary__content,
.cart-summary__item {
  width: 100%;
}

.cart-summary__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-summary__label {
  font-size: 16px;
  font-weight: 500;
}

.cart-summary a {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  padding: 8px 40px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}

.cart-summary a:hover {
  background-color: #000000;
  color: #ffffff;
}

.cart-summary__value--total {
  font-size: 20px;
  font-weight: 300;
  color: #b88e2f;
}

@media (max-width: 768px) {
  .cart-container {
    padding: 32px;
  }

  .cart-container__content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .cart-summary {
    max-width: 100%;
    padding: 16px 16px 56px;
  }
}
